.footer{
    width:100%;
    padding: 3rem 0 ;
    background-color: #F6F4EB; 
}

.footer-container{
    max-width: 1140px;
    margin: auto ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
}

.left{
    height:100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.location{
    display:block;
    margin-bottom: 0.8 rem;
}

.location p{
    line-height: 30px;
    margin-left : 2rem;
}

.right{
    height:100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

h4{
    font-size: 1.2rem;
    padding-bottom : 0.7rem;
}

p{
    font-size: 1.2rem;
}

.namer{
    display: flex;
    flex-direction: row;
}
.namer img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-style: solid;
    transform: translate(20px,10px);
}

.repo{
    text-decoration: none;
    color:black;
}
.repo:hover{
    color: #91C8E4;
    text-decoration: none;
}
@media screen and (max-width: 640px) {
    .footer-container{
        grid-template-columns: 1fr;
    }
}